.auth-wrapper {
  margin: auto;
  a {
    font-weight: 400;
    color: #818ea3;
    float: right;
    text-decoration: none;
    margin: 1.875rem;;
  }
  a:hover {
    color: #3d5170;
    text-decoration: underline;
  }
}

.auth {
  box-shadow: 0 2px 0 rgba(90, 97, 105, .11),
  0 4px 8px rgba(90, 97, 105, .12),
  0 10px 10px rgba(90, 97, 105, .06),
  0 7px 70px rgba(90, 97, 105, .1);
  background-color: #fff;
  border-radius: .625rem;
  position: relative;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  background-clip: border-box;
  flex-flow: column;
  overflow: hidden;
  margin: auto;
  border: 1px solid rgba(0, 0, 0, .125);

  .auth-form {
    position: relative;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: initial;
    border-radius: .625rem;
    overflow: hidden;
    box-shadow: inset 0 4px 0 0 #007bff;
    padding: 1.875rem;
    flex: 1 1 auto;
    min-width: 19.375rem;
    max-width: 350px;
  }
}

label {
  display: inline-block;
  margin-bottom: .5rem;
  font-weight: 400;
}

.form-name {
  margin-bottom: 1.5rem;
  text-align: center;
}

.form-wrapper {
  margin-bottom: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.form-field {
  height: auto;
  padding: .4375rem .75rem;
  font-size: .8125rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: 1px solid #e1e5eb;
  font-weight: 300;
  will-change: border-color, box-shadow;
  border-radius: .25rem;
  box-shadow: none;
  transition: box-shadow .25s cubic-bezier(.27, .01, .38, 1.06), border .25s cubic-bezier(.27, .01, .38, 1.06);
}

.form-field:focus {
  border-color: #007bff;
  color: #495057;
  background-color: #fff;
  box-shadow: 0 0.313rem 0.719rem rgba(0, 123, 255, .1), 0 0.156rem 0.125rem rgba(0, 0, 0, .06);
}

.form-button {
  color: #fff;
  border-width: 1px;
  border-color: #007bff;
  background-color: #007bff;
  box-shadow: none;
  font-weight: 400;
  padding: .5625rem 1rem;
  font-size: .75rem;
  line-height: 1.125;
  border-radius: .25rem;
  cursor: pointer;
  transition: all .25s cubic-bezier(.27, .01, .38, 1.06);
}

.form-button:hover {
  color: #fff;
  background-color: #006fe6;
  border-color: #006fe6;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .05), 0 4px 10px rgba(0, 123, 255, .25);
}