@import "styles/colors";
.App {
  background: $background-color;
  font-size: 15px;
  font-weight: 500;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  min-height: calc(100vh - 7.5rem);
  box-sizing: border-box;
}
input:focus{
  outline: none;
}
